extends layout

block content
  .container
    .row
      .col-sm-3(style='margin-top: 70px;')
        #accordion.panel-group
          #math.panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle='collapse', data-parent='#accordion', href='https://projectzecta.herokuapp.com/resources?category=1')
                  | MATHEMATICS
          #sciences.panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle='collapse', data-parent='#accordion', href='https://projectzecta.herokuapp.com/resources?category=2')
                  | SCIENCES
          #humanities.panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle='collapse', data-parent='#accordion', href='./resources?category=3')
                  | HUMANITIES
          #languages.panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle='collapse', data-parent='#accordion', href='/resources?category=4')
                  | LANGUAGES
      // end of col-sm-3
      .col-sm-9(style='margin-top:70px;margin-bottom:50px;')
        each val in result_arr
          div.postingdiv
            a(href='/posting?pid=#{val.id}', style='text-decoration:none; color: #001e2a;')
              h1.text-primary #{val.title}
              h4.text-primary #{val.poster_name}
              h5.text-primary #{val.dateposted}
              p.postingcontent
                |#{val.content}